@model Entities.Concrete.Admin
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>
    <b>@Model.UserName </b> Kullanıcı Adını Sahip Admini Silmek İstiyor Musunuz ?
</h2>

<form asp-controller="Admin" asp-action="Delete" method="post">
    @Html.HiddenFor(m => m.Id)

    <button type="submit" class="btn btn-primary">Sil</button>
</form>