
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İlan Türü Kayıt Ekle</h2>

<div class="form">
    <form class="form-validate form-horizontal" id="feedback_form" method="post" action="/AdvertType/Create/" enctype="multipart/form-data">
        <div class="form-group ">
            <label for="Name" class="control-label col-lg-2">İlan Türü Adı <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" id="Name" name="Name" type="text" required />
            </div>
          
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-primary" type="submit">Ekle</button>
                <button class="btn btn-default" type="button"><a href="/Admin/Index">İptal</a></button>
            </div>
        </div>
    </form>
</div>