@model Entities.Concrete.AdvertType
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>
    <b>@Model.Name </b> İsimli İlan Türünü Silmek İstiyor Musunuz ?
</h2>

<form asp-controller="AdvertType" asp-action="Delete" method="post">
    @Html.HiddenFor(m => m.Id)

    <button type="submit" class="btn btn-primary">Sil</button>
</form>