@model Entities.Concrete.RealEstate
@{// onu da google edeyim bulamazsak sallama bişey yaparız:D tamam :D aman aman neler etmişler
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_RealEstateLayout.cshtml";
}
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Şifre Değiştirme</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h3 class="mb-30"></h3>
                    <div class="form">
                        <form class="form-validate form-horizontal" id="feedback_form" method="post" action="/RealEstate/ChangePassword/" enctype="multipart/form-data">
                            <div class="form-group">
                                @Html.HiddenFor(m => m.Id)
                                @Html.HiddenFor(m => m.PasswordSalt)
                                @Html.HiddenFor(m => m.PasswordHash)

                                <div class="mt-10">
                                    <input type="password" name="Password" placeholder="Şifre"
                                           onfocus="this.placeholder = 'Şifre'" onblur="this.placeholder = 'Şifre'" required value="@Model.Password"
                                           class="single-input">
                                </div>



                            </div>


                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-primary" type="submit">Düzenle</button>
                                    <button class="btn btn-default" type="button"><a href="/RealEstate/AdvertList">İptal</a></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
              

            </div>
        </div>
    </div>
</div>


